
*.pper
*.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/1DC7C9DA/sources/prop/INDEX
.Rproj.user/1DC7C9DA/sources/prop/FEA83F54
.Rproj.user/1DC7C9DA/sources/prop/EF4BF1B3
.Rproj.user/1DC7C9DA/sources/prop/E1D1C170
.Rproj.user/1DC7C9DA/sources/prop/DA0A1904
.Rproj.user/1DC7C9DA/sources/prop/CC030D56
.Rproj.user/1DC7C9DA/sources/prop/CAEA7520
.Rproj.user/1DC7C9DA/sources/prop/C791CEF6
.Rproj.user/1DC7C9DA/sources/prop/BBB7430B
.Rproj.user/1DC7C9DA/sources/prop/B89A161D
.Rproj.user/1DC7C9DA/sources/prop/B242324C
.Rproj.user/1DC7C9DA/sources/prop/B02F18B9
.Rproj.user/1DC7C9DA/sources/prop/AFA8A3DE
.Rproj.user/1DC7C9DA/sources/prop/A7579FB8
.Rproj.user/1DC7C9DA/sources/prop/A2C520E9 (Robin Trayler's conflicted copy 2023-09-21)
.Rproj.user/1DC7C9DA/sources/prop/A2C520E9
.Rproj.user/1DC7C9DA/sources/prop/A107C522
.Rproj.user/1DC7C9DA/sources/prop/9B55BDDE
.Rproj.user/1DC7C9DA/sources/prop/7FFE65A4
.Rproj.user/1DC7C9DA/sources/prop/7CAED3F3
.Rproj.user/1DC7C9DA/sources/prop/72CC83E7
.Rproj.user/1DC7C9DA/sources/prop/6E16F15E
.Rproj.user/1DC7C9DA/sources/prop/6A176391
.Rproj.user/1DC7C9DA/sources/prop/67D861BA
.Rproj.user/1DC7C9DA/sources/prop/6495806F
.Rproj.user/1DC7C9DA/sources/prop/526B3C2A
.Rproj.user/1DC7C9DA/sources/prop/47357948
.Rproj.user/1DC7C9DA/sources/prop/427E1CC1
.Rproj.user/1DC7C9DA/sources/prop/4230848C
.Rproj.user/1DC7C9DA/sources/prop/40916CAE
.Rproj.user/1DC7C9DA/sources/prop/40472F3D
.Rproj.user/1DC7C9DA/sources/prop/3B75481D (Robin Trayler's conflicted copy 2023-09-21)
.Rproj.user/1DC7C9DA/sources/prop/3B75481D (Robin Trayler's conflicted copy 2023-09-21 1)
.Rproj.user/1DC7C9DA/sources/prop/3B75481D
.Rproj.user/1DC7C9DA/sources/prop/31821FEF
.Rproj.user/1DC7C9DA/sources/prop/296569B6
.Rproj.user/1DC7C9DA/sources/prop/284BBF3A
.Rproj.user/1DC7C9DA/sources/prop/196FB4EB
.Rproj.user/1DC7C9DA/sources/prop/19671E61
.Rproj.user/1DC7C9DA/sources/prop/15D09BB1
.Rproj.user/1DC7C9DA/sources/prop/0EFB4279
.Rproj.user/1DC7C9DA/sources/prop/04B4DF7D
.Rproj.user/1DC7C9DA/sources/prop/02F1ACCC
.Rproj.user/1DC7C9DA/sources/prop/026C82F6
.Rproj.user/1DC7C9DA/sources/per/u/D9AF013E-contents
.Rproj.user/1DC7C9DA/sources/per/u/D9AF013E
.Rproj.user/1DC7C9DA/sources/per/t/9BEDF908-contents
.Rproj.user/1DC7C9DA/sources/per/t/9BEDF908
.Rproj.user/1DC7C9DA/sources/per/t/790B6776-contents
.Rproj.user/1DC7C9DA/sources/per/t/790B6776
.Rproj.user/1DC7C9DA/sources/per/t/6CF56738-contents
.Rproj.user/1DC7C9DA/sources/per/t/6CF56738
.Rproj.user/1DC7C9DA/sources/per/t/5503235C-contents
.Rproj.user/1DC7C9DA/sources/per/t/5503235C
.Rproj.user/1DC7C9DA/saved_source_markers
.Rproj.user/1DC7C9DA/rmd-outputs
.Rproj.user/1DC7C9DA/persistent-state
.Rproj.user/1DC7C9DA/build_options
.DS_Store
cave_spectra/UCMP_228495.dpt
cave_spectra/UCMP_228496.dpt
cave_spectra/UCMP_229356.dpt
cave_spectra/UCMP_229654.dpt
cave_spectra/UCMP_229670.dpt
cave_spectra/UCMP_271175.dpt
cave_spectra/UCMP_271236.dpt
cave_spectra/UCMP_271237.dpt
cave_spectra/UCMP_271238.dpt
Notes.md
*.docx
